div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:80%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:#D56161; padding-left: 4px; }
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}