/* Reset browser default style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
	padding-bottom: 18px;
	font-family: Georgia;
	font-size: 30px;
	color: #DF661E;
}
h2 {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 14px;
}
p {
	padding-bottom: 14px;
}
a {
	color: #1F5272;
}
a:hover {
	color: #3A93D3;
}

#loaderImage {
	position: absolute; z-index: 10000; display: none;
}

span.close {
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(/images/ptv_close.png) no-repeat;
	width: 11px;
	height: 11px;
	cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	color: #1F5272;
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
}
a:hover {
	color: #3A93D3;
}
.m-l-10 {
	margin-left: 10px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-l-15 {
	margin-left: 15px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-r-15 {
	margin-right: 15px;
}
.m-b-15 {
	margin-bottom: 15px;
}

p {
	padding-bottom: 15px;
}

em {
	font-style: italic;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

.text ul li {
	list-style: disc;
	margin-left: 20px;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong, b {
	font-weight: bold;
}

/* End reset browser default style */

/*********************************
 *		 Main style			*
 *********************************/
html, body {
	height: 100%;
}

body {
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
}

#bg404 {
	background: url(/images/404bg.png) no-repeat scroll right 10px;
}

#page {
	position: relative;
	z-index: 1;
}

#leftArea, #rightArea {
	float: left;
	display: block;
}

#area {
	position: relative;
}
#area.withRightMenu {
	width: 73%;
	float: left;
}

#rightMenu {
	width: 27%;
	float:left;
}

#leftArea {
	position: relative;
	z-index: 1;
	width: 26%;
	margin-top: 50px;
	padding-right: 4%;
}

#rightArea {
	position: relative;
	z-index: 2;
	width: 70%;
}

#rightArea li {
	padding-bottom: 5px;
}
#rightArea ul {
	padding-bottom: 16px;
}

.breadcrumb-navigation {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 11px;
	margin: 11px 0 20px 0 !important;
	position: relative;
}

#page-wrapper {
	min-height: 100%;
	height: auto;
	position: relative;
}

.text-bold {
	font-weight: bold;
}

.bodier {
	position: relative;
	width: 100%;
	max-width: 1400px;
	min-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.line {
	height: 4px;
	width: 100%;
	margin-bottom: 10px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

header, footer {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}

header {
	position: relative;
	z-index: 2;
	height: 140px;
	background: url('images/header-bg.png') repeat-x;
}

#logo {
	position: absolute;
	top: 0px;
	left: 20px;
	padding: 15px 0;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

#logo a,
#logo img,
#logo span {
	display: block;
}

#logo a,
#logo a:hover,
#logo a:visited {
	color: #000000;
	text-decoration: none;
}

#logo span {
	padding-top: 4px;
}

header .phones {
	position: absolute;
	right: 20px;
	width: 220px;
	text-align: right;
	padding: 25px 0;
	font-family: Tahoma, Geneva;

}

header .phones .icon,
header .phones .info {
	float: right;
}

header .phones .icon {
	margin-top: 16px;
	margin-right: 8px;
	width: 15px;
	height: 45px;
	background: url(./images/handset-new.png) no-repeat;
}

header .phones .phone-tap {
	font-size: 20px;
	line-height: 120%;
}

#main-menu {
	position: relative;
	margin: 0 auto;
	padding-top: 33px;
	padding-left: 40px;
	width: 520px;
}

#main-menu a {
	color: #1B527A;
}

#main-menu a:hover {
	color: #3A93D3;
}
#main-menu .top-menu {
	font-family: Verdana, Geneva, sans-serif;
}
#main-menu .top-menu ul {
	position: relative;
}
#main-menu .top-menu li {
	position: relative;
	float: left;
	font-size: 13px;
}
#main-menu .bottom > ul > li {
	height: 61px;
}
#main-menu .bottom > ul > li:hover ul.submenu {
	display: block;
}
#main-menu .bottom li:before,
#main-menu .bottom li:after {
	position: absolute;
	display: none;
	top: 0;
	content: '';
	width: 2px;
	height: 39px;
	background: url(./images/menu-sep-trans.png) no-repeat;
}
#main-menu .bottom li:before {
	display: block;
	left: 0;
}
#main-menu .bottom li:last-child:after {
	display: block;
	right: 0;
}
#main-menu .bottom li.active {
	background: url(./images/menu-act-bg-new.png) repeat-x;
}
#main-menu .bottom li.active:before {
	width: 6px;
	height: 61px;
	background: url(./images/menu-act-left-new.png) no-repeat -2px 0;
}
#main-menu .bottom li.active:after {
	display: block;
	right: 0;
	width: 6px;
	height: 61px;
	background: url(./images/menu-act-right-new.png) no-repeat 2px 0;
}
#main-menu .bottom li.active a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 13px 10px;

}
#main-menu .bottom a {
	display: block;
	padding: 13px 15px;
}

#main-menu .top li {
	padding: 7px 0;
}
#main-menu .top a {
	display: block;
	padding: 6px 15px;
}
#main-menu .top li.active a {
	padding: 6px 11px;
	background: #a2c9ea;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.info-menu {
	
}
.info-menu li {
	margin: 12px 0;
}
.info-menu li.active a,
.institutes-menu li.active a {
	color: #DF661E;
	font-weight: bold;
}
.menuHolder {
	position: relative;
}
.institutes-menu {
	display: none;
	width: 175px;
	border: 1px solid #e38b54;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	padding: 5px 10px;
	position: absolute;
	z-index: 2;
	left: -11px;
	top: -6px;
}
.institutes-menu li {
	margin: 12px 0;
}
.institutes-menu li a {
	display: block;
	padding: 0 0 0 10px;
}
.institutes-menu li a:hover {
	background: url(/images/bbar.png) no-repeat left center;
} 
#openSubmenu {
	display: inline-block;
}
#openSubmenu a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dashed #000;
	font-weight: bold;
}
#openedSubmenu {
	padding-bottom: 0;
}
#openedSubmenu a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
#main-menu .top-menu .submenu {
	display: none;
	min-width: 190px;
	background: #fff;
	border: 1px solid #d2e3ee;
	padding: 10px 0;
	position: absolute;
	z-index: 10;
	top: 39px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
#main-menu .top-menu .submenu li {
	display: block;
	float: none;
	font-size:11px;
	padding: 5px 5px;
	min-height: 16px;
}
#main-menu .top-menu .submenu li a {
	padding: 0 10px;
	display: inline-block;
}
#main-menu .top-menu .submenu li a:hover {
	background: url(/images/bar.png) no-repeat 2px 4px;
} 
#main-menu .top-menu .submenu li:before,
#main-menu .top-menu .submenu li:after {
	background: none;
}
#main-menu .bottom li.active .submenu a {
	color: #1B527A;
	font-weight: normal;
}
#main-menu .bottom li.active .submenu li {
	background: none;
}
#main-menu .bottom .submenu .header {
	font-weight: bold;
	background: url(/images/line.png) repeat-x 0px 11px !important;
}
#main-menu .bottom .submenu .header span {
	background: #fff;
	padding: 0 5px;
	margin: 0 5px;
}

#objectsTable {
	font-size: 11px;
	margin-bottom: 20px;
}
#objectsTable td {
	padding: 15px 10px;
	border-bottom: 1px solid #ff9966;
}
#objectsTable .first td {
	border-bottom: 2px solid #cc6633;
}

#map_holder {
	height: 0px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 0px;
	position: relative;
}
#map_canvas { 
	position: absolute;
	left:0;
	top:0;
	height: 600px; 
}
#estimate_form {
	float: left;
}
#estimate_map {
	margin-left: -400px;
	padding-left: 400px;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	height: 364px;
}
#estimate_map_map {
	height: 364px;
	width: 100%;
}
.g_maps_window {
	width: 350px;
	padding: 5px;
}
.g_maps_window .pic img {
	float: left;
	border: 5px solid #fff;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.5);
	margin-right: 10px;
	margin-bottom: 4px;
}
.g_maps_window div {
	padding: 0 0 5px 0;
	font-size: 11px !important;
}
.g_maps_window div.section {
	color: #929292;
}
.g_maps_window div strong, .g_maps_window div strong a {
	font-weight: bold !important;
}
#showHideMap {
	margin-bottom: 20px;
}
#showHideMap a {
	position: relative;
	margin-left: 3px;
	top:-8px;
	text-decoration: none;
	border-bottom: 1px dashed #1F5272;
	cursor: pointer;
}
#showHideMap a:hover {
	border-bottom: 1px dashed #3994d4;
}
#showHideMap #hide {
	display: none;
}

#filter {
	border: 2px solid #E38B54;
	border-radius: 10px;
	padding: 10px 0;
	margin: 50px 0 30px 0;
	position: relative;
	left: -11px;
	z-index: 1;
}
#filterName {
	position: absolute;
	left: 20px;
	top: -24px;
	z-index: 2;
	background: white;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	margin-top: 16px;
	padding: 0 5px;
}
.ajax {
	border-bottom: 1px dashed #1F5272;
	cursor: pointer;
	text-decoration: none;
}
.ajax:hover {
	color: #3994D4;
}
.ajax.show {
	display: inline-block;
}
#filter #areas ul li,
.oneChoseVal ul.select li {
	float: left;
	margin: 6px 8px;
	padding: 4px 9px;
}
#filter #areas ul li.active,
.oneChoseVal ul.select li.active {
	padding: 3px 8px;
	border: 1px solid #E38B54;
	border-radius: 5px;
}

#filter #areas ul li.active a,
.oneChoseVal ul.select li.active a {
	cursor: default;
	font-weight: bold;
	border-bottom: 0;
	color: #000;
}

#filter .areas ul li {
	float: left;
	margin: 6px 8px;
	padding: 4px 9px;
}
#filter .areas ul li.active {
	padding: 3px 8px;
	border: 1px solid #E38B54;
	border-radius: 5px;
}

#filter .areas ul li.active a {
	cursor: default;
	font-weight: bold;
	border-bottom: 0;
	color: #000;
}

.oneChoseVal ul.radio li {
	padding-bottom: 5px;
}
.oneChoseVal ul.select li input {
	padding-right: 5px;
}

#filter #metro, 
#filter #street, 
#filter #estateType, 
#filter #rooms, 
#filter .slider {
	margin: 6px 8px;
	padding: 3px 9px;
}
#filter #metro span, 
#filter #street span, 
#filter #estateType span, 
#filter #rooms span {
	display: block;
	width: 100%;
	font-weight: bold;
	padding-bottom: 9px;
}
#filter #metro input, 
#filter #street input {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#filter #rooms li label {
	cursor: pointer;
}
#filter #rooms ul,
#filter .currency ul {
	display: block;
}
#filter #rooms li,
#filter .currency li {
	float: left;
	padding-right: 10px;
}
#filter .currency {
	padding: 10px 0 0 0;
}
#filter .currency label {
	padding-left: 5px;
}
#filter .from-to {
	padding-bottom: 10px;
}
#filter .from-to input {
	width: 60px;
}
#filter.index {
	border: 2px solid #b3c7e1;
	left: 0;
}
#filter.index .areas ul li.active {
	padding: 3px 8px;
	border: 1px solid #b3c7e1;
	border-radius: 5px;
}
#findMetroId, #findStreetId  {
	padding: 0;	
}
#findMetroId li:last-child {
	padding-bottom: 10px;
}
#findMetroId ul li, #findStreetId ul li {
	padding: 2px 0;
}
#findMetroId ul li img {
	height: 10px;
	margin-right: 5px;
}
#findStreetId ul li num {
	margin-right: 5px;
}
#findMetroId ul li a.dltStation,
#findStreetId ul li a.dltStation,
.oneChose a.dltStation {
	padding: 2px 4px;
	position: relative;
	top: 2px;
	cursor: pointer;
	font-family: Arial;
	color:#c1c1c1;
	font-size: 14px;
	font-weight: bold;
}
#findMetroId ul li a.dltStation:hover,
#findStreetId ul li a.dltStation:hover,
.oneChose a.dltStation:hover {
	color:#E07C7C;
}

.ui-menu-item img {
	height: 12px;
	margin-right: 5px;
}

.news-item {
	padding-top: 30px;
	position: relative;
	width: 100%;
}
.news-item .l, .news-item .r {
	float: left;
}
.news-item .l {
	width: 130px;
}
.news-item .r {
	width: 100%;
	padding-left: 130px;
	margin-left: -130px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
}
.news-item .r .head {
	padding-bottom: 8px;
	font-size: 14px;
	display: block;
}
.news-item .news-date-time {
	margin-bottom: 10px;
	display: block;
}

.list-item {
	padding-top: 10px;
	position: relative;
	width: 100%;
}
.list-item .l, .list-item .r {
	float: left;
}
.list-item .l {
	width: 130px;
}
.list-item .r {
	width: 100%;
	padding-left: 130px;
	margin-left: -130px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
}
.list-item .r .head {
	padding-bottom: 8px;
	font-size: 14px;
	display: block;
}
.list-item .news-date-time {
	margin-bottom: 10px;
	display: block;
}

.partners-item {
	padding-top: 30px;
	position: relative;
	width: 33%;
	float: left;
}
.partners-item div {
	display: block;
}
.partners-item div.pic {
	height: 100px;
	text-align: center;
}
.partners-item div.name {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.partners-item .news-date-time {
	margin-bottom: 10px;
	display: block;
}

#pagi .text {
	display: block;
	margin-bottom: 10px;
	text-align: center;
}
#estate {
	
}
#estate .estateType {
	margin-bottom: 20px;
}
#estate .estateType .head a {
	background: #edf1f8;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ddebf7;
	padding: 6px 12px;
	width: 240px;
	display: block;
	font-family: Georgia;
	font-size: 16px;
}
#estate .estateType .head {
	margin-bottom: 15px;
}
#estate .estateType .text {
	padding: 0 15px 15px 15px;
}

#estateType ul li {
	padding-bottom: 5px;
}
#estateType ul li .circle {
	width: 10px !important;
	height: 10px !important;
	padding: 0 !important;
	border-radius: 5px;
	display: inline-block !important;
	position: relative;
	top: 1px;
}

.note {
	color: #929292;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 0px;
}
.padd17 {
	padding: 0 17px;
}
.padd20 {
	padding: 20px 0;
}
.padd17all {
	padding: 17px;
}

#detail {
	margin-bottom: 20px;
}
.allItems {
	padding: 20px;
}
#detail .info {
	border-radius: 10px;
	padding: 10px 20px;
}

#chose {
	padding: 17px;
}
.oneChose {
	padding-top: 5px;
	margin-bottom: 10px;
}
.oneChose label {
	display: inline-block;
}
.oneChose a {
	font-weight: bold;
}
.oneChose.open label {
	display: none;
}
.oneChoseVal {
	display: none;
	overflow: hidden;
}
#specOffers {
	width: 100%;
}
#specOffers .tabs {
	width: 100%;
	position: relative;
	z-index: 2;
}
#specOffers .tabs a {
	background: none repeat scroll 0 0 #EDF1F8;
	border: 1px solid #DDEBF7;
	border-radius: 10px 10px 0 0;
	display: inline-block;
	font-family: Georgia;
	font-size: 18px;
	padding: 6px 12px;
	cursor: pointer;
}
#specOffers .tabs a.active {
	background: #fcf7ed;
	border: 1px solid #f5ebd6;
	border-bottom: 1px solid #fcf7ed;
	cursor: default;
	color: #000;
}
#specOffers .offers {
	position: relative;
	z-index: 1;
	top: -1px;
	background: #fcf7ed;
	border: 1px solid #f5ebd6;
	padding: 20px;
}
#specOffers .offersTab {
	display: none;
}
#specOffers .offersTab.active {
	display: block;
}
#specOffers .offersTab .col {
	position: relative;
	float: left;
}
#specOffers .offersTab .col.c-1 {
	width: 100%;
}
#specOffers .offersTab .col.c-2 {
	width: 50%;
}
#specOffers .offersTab .col.c-3 {
	width: 33%;
}
#specOffers .offersTab .col.c-4 {
	width: 25%;
}
#specOffers .offersTab .col .l,
#specOffers .offersTab .col .r {
	float: left;
}
#specOffers .offersTab .col .l {
	width: 30%;
}
#specOffers .offersTab .col .r {
	width: 60%;
	padding: 0 5%;
}
#specOffers .offersTab .col .l img {
	width: 100%;
}
#specOffers .offersTab .head {
	display: block;
	padding-bottom: 10px;
}
#specOffers .offersTab .price {
	color: #000;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 10px;
}
#specOffers .offersTab .info {
	font-size: 12px;
	padding-bottom: 5px;
}



#elitOffers {
	width: 100%;
}
#elitOffers .tabs {
	width: 100%;
	position: relative;
	z-index: 2;
	border-bottom: 3px solid #e88c55;
}
#elitOffers .tabs span {
	background: none repeat scroll 0 0 #9acced;
	border: 1px solid #93c1db;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
	display: inline-block;
	font-family: Georgia;
	font-size: 18px;
	padding: 6px 12px;
	cursor: pointer;
	color: #fff;
}
#elitOffers .tabs a.active {
	background: #fcf7ed;
	border: 1px solid #f5ebd6;
	border-bottom: 1px solid #fcf7ed;
	cursor: default;
	color: #000;
}
#elitOffers .offers {
	position: relative;
	z-index: 1;
	top: -1px;
	background: #fcf7ed;
	border: 1px solid #f5ebd6;
	padding: 20px;
}
#elitOffers .offersTab {
	display: none;
}
#elitOffers .offersTab.active {
	display: block;
}
#elitOffers .offersTab .col {
	position: relative;
	float: left;
}
#elitOffers .offersTab .col.c-1 {
	width: 100%;
}
#elitOffers .offersTab .col.c-2 {
	width: 50%;
}
#elitOffers .offersTab .col.c-3 {
	width: 33%;
}
#elitOffers .offersTab .col.c-4 {
	width: 25%;
}
#elitOffers .offersTab .col .l,
#elitOffers .offersTab .col .r {
	float: left;
}
#elitOffers .offersTab .col .l {
	width: 30%;
}
#elitOffers .offersTab .col .r {
	width: 60%;
	padding: 0 5%;
}
#elitOffers .offersTab .col .l img {
	width: 100%;
}
#elitOffers .offersTab .head {
	display: block;
	padding-bottom: 10px;
}
#elitOffers .offersTab .price {
	color: #000;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 10px;
}
.red {
	color: red;
}
#elitOffers .offersTab .price.red {
	color: #DF661E;
}
#elitOffers .offersTab .info {
	font-size: 12px;
	padding-bottom: 5px;
}

.border-padd {
	border: 1px solid #B3C7E1;
	border-radius: 10px;
	padding: 20px 20px;
}
.half-60,
.half-50,
.half-40 {
	float: left;
}
.half-60 {
	width: 60%;
}
.half-50 {
	width: 50%;
}
.half-40 {
	width: 40%;
}

.slider-kon {
	margin: 30px 11px 10px 11px;
	height: 6px !important;
	background: url(/images/abg.png) repeat-x !important;
	border: 0 !important;
	position: relative;
}
.slider-kon .serif {
	position: absolute;
	left:0;
	top:-20px;
	height: 20px;
	width: 100%;
}
.slider-kon .serif span.sf-one {
	height: 20px;
	font-size: 9px;
	text-align: left;
	float: left;
	position: relative;
}
.slider-kon .serif span.sf-one span.numeric {
	position: relative;
	left: -50%;
	text-align: center;
	display: block;
}
.slider-kon .serif span.sf-one span.last {
	display: block;
	right: -50%;
	top: -9px;
	text-align: center;
	position: relative;
}
.slider-kon .serif span.sf-one:after {
	width: 1px;
	height: 4px;
	background: #616161;
	position: absolute;
	right: 0;
	bottom: 0;
	content: '';
}
.slider-kon .serif span.sf-one:last-child:after {
	width: 0;
}
.slider-kon .ui-slider-range {
	height: 6px !important;
	background: url(/images/abg-in.png) repeat-x !important;
	border: 0 !important;
	border-radius: 0 !important;
}
.slider-kon .ui-slider-handle {
	width: 11px !important;
	height: 21px !important;
	background: url(/images/left.png) no-repeat !important;
	border: 0 !important;
	margin: 0 0 0 -10px !important;
	cursor: pointer;
}
.slider-kon .ui-slider-handle:nth-child(3) {
	background: url(/images/right.png) no-repeat !important;
	margin: 0 0 0 -1px !important;
}
.word {
	width: 200px;
	margin: 0 0 10px 20px;
	font-size: 11px;
}
.word img {
	padding-right: 5px;
}
.word p {
	padding: 0;
}
.right {
	float: right;
}
.center {
	clear: both;
	text-align: center;
}
.clear {
	clear: both;
}
.currDiv {
	display: none;
}
.show {
	display: block;
}
.submit {
	width: 90px;
	height: 25px;
	margin: 0 10px;
	font-size: 14px;
}
#main-text {
	margin-bottom: 30px;
}
.banners {
	width: 100%;
	position: relative;
	height: 145px;
	margin-bottom: 30px;
}
#rightMenu .banners {
	height: auto;
}
.banners #bn-1,
.banners #bn-2,
.banners #bn-3 {
	position: absolute;
}
.banners #bn-r-1,
.banners #bn-r-2 {
	position: relative;
}
.banners #bn-1 {
	border: 1px solid #7db6db;
	left:0;
}
.banners #bn-1 .head {
	border-bottom: 3px solid #7db6db;
}
.banners #bn-2 {
	border: 1px solid #de5644;
	left:50%;
	margin-left: -134px;
}
.banners #bn-2 .head {
	border-bottom: 3px solid #de5644;
}
.banners #bn-3 {
	border: 1px solid #f0b52d;
	right:0;
}
.banners #bn-3 .head {
	border-bottom: 3px solid #f0b52d;
}
.banners #bn-r-1 {
	border: 1px solid #94cd5a;
}
.banners #bn-r-1 .head {
	border-bottom: 3px solid #94cd5a;
}
.banners #bn-r-2 {
	border: 1px solid #c78cc4;
}
.banners #bn-r-2 .head {
	border-bottom: 3px solid #c78cc4;
}

.banners .banner {
	position: relative;
	float: left;
	width: 268px;
	height: 142px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.banners .banner .pic {
	height: 109px;
}
.banners .banner .pic a {
	display: block;
}
.banners .banner .head {
	height: 28px;
	padding: 0;
	display: block;
	background: #f0f4f9;
}
.banners .banner .head a {
	font-size: 14px;
	padding: 7px 0 0 10px;
	display: block;
}

#rightMenu .banners .banner {
	float: right;
	width: 240px;
	height: 115px;
	margin-bottom: 20px;
}
#rightMenu .banners .banner .pic {
	height: 85px;
	overflow: hidden;
}
#rightMenu .banners .banner .pic a {
	display: block;
}
#rightMenu .banners .banner .head {
	height: 26px;
	padding: 0;
	display: block;
	background: #f0f4f9;
}
#rightMenu .banners .banner .head a {
	font-size: 14px;
	padding: 5px 0 0 10px;
	display: block;
}
#newsWidget {
	position: relative;
	width: 240px;
	float: right;
}
#newsWidget .tabs {
	border-bottom: 4px solid #C2D9E7;
}
#newsWidget .tabs a {
  background: none repeat scroll 0 0 #EDF1F8;
  border: 1px solid #DDEBF7;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  padding: 6px 82px 6px 12px;
}
#newsWidget .news-item {
	padding-top: 10px;
	position: relative;
	width: 100%;
}
#newsWidget .news-item .news-date-time {
	margin-bottom: 2px;
	display: block;
	color: #DF661E;
	font-size: 11px;
}
#newsWidget .news-item .head {
	
}
.grayBlock {
	background: #f7fbfd;
	border: 1px solid #dce8f6;
	padding: 17px;
	width:204px;
	margin-bottom: 30px;
	float:right;
}
.grayBlock a[title=rss] img,
#area a[title=rss] img {
	position: relative;
	top: -45px;
}
#itemInfo {
	margin: 20px 0;
	width: 100%;
	padding-right: 300px;
	margin-right: -280px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	z-index: 1;
	float: left;
}
#gallery {
	float: left;
	width: 280px;
	margin-top: 20px;
	position: relative;
	z-index: 2;
}
#mainPhoto {
	margin-bottom: 15px;
}
#mainPhoto a {
	display: none;
}
#mainPhoto a:first-child {
	display: block;
}
#itemInfo .price {
	font-size: 18px;
	margin-bottom: 20px;
}
#itemInfo label {
	font-weight: bold;
}
#miniPhotos {
	margin-bottom: 15px;
}
#miniPhotos img {
	border: 2px solid #fff;
	margin: 0 5px 5px 0;
	float: left;
	cursor: pointer;
}
#miniPhotos img.active {
	border: 2px solid #a3cd49;
}
#addSee {
	margin-bottom: 20px;
}
#addSee img {
	position: relative;
	top: 3px;
}
#addSee a {
	font-size: 15px;
}

.news-date-time {
	color: #939393;
}

.prew-pic {
	position: relative;
}
.prew-pic img.small {
	display: inline-block;
	vertical-align: top;
	z-index: 1;
	cursor: pointer;
	border: 2px solid #fff;
	box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
}
.prew-pic a.big {
	border: 5px solid #fff;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.5);
	position: absolute;
	display: inline-block;
	left:-80px;
	top:-90px;
	display: none;
	z-index: 2;
}

#metroPopups {
	position: absolute;
	box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.3);
	display: none;
	width: 800px;
	background: #fff;
	padding: 30px;
	border: 1px solid #858585;
	z-index: 1000;
	left: 50%;
	margin-left: -430px;
	top: 0px;
}

#metroPopups .head {
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
#metroPopups .head img {
	margin-right: 12px;
}
#metroPopups .top {
	position: relative;
	padding-top: 10px;
	height: 25px;
	text-align: right;
}
#metroPopups .top .hide {
	display: none;
}
#stations {
	margin: 10px 0 20px 0;
	position: relative;
}
#stations .branch {
	font-size: 12px;
	padding-bottom: 10px;
}
#stations .branch img {
	margin-right: 5px;
	height: 10px;
}
#stations .ok,
#stations .none {
	height: 20px;
	margin-bottom: 2px;
}
#stations .ok input {
	margin: 0 5px 0 0;
	cursor: pointer;
}
#stations .ok label {
	cursor: pointer;
}
#stations .none {
	padding-left: 18px;
	color: #7e7e7e;
	display: none;
}
#stations .stations {
	position: absolute;
	width: 25%;
	font-size: 12px;
}

.chosen input {
	font-size: 14px;
	padding: 0 10px;
	margin: 0 10px 0 0;
}

#unsetFilter {
	display: none;
}

.oneFilter.off {
	display: none;
}
.oneFilter li label {
	cursor: pointer;
}
.hidden {
	display:none !important;
}

.feedback {
	padding: 20px 0;
	width: 400px;
}
.feedback .row {
	padding-bottom: 10px;
	width: 400px;
	position: relative;
}
.feedback .row label {
	padding-top: 5px;
	height: 19px;
	width: 150px;
	float: left;
}
.feedback .row input,
.feedback .row textarea {
	border: 1px solid #7A97B4;
	width: 238px;
	float: left;
	padding: 5px;
}
.feedback .row input {
	height: 22px;
	margin-right: 5px;
}
.feedback .row textarea {
	height: 180px;
	margin: 0;
}
.feedback .row input.error,
.feedback .row textarea.error {
	border: 1px solid #D56161;
}
.feedback .row div.error {
	position: absolute;
	display: inline-block;
	left:405px;
	top:0;
	border: 1px solid #D56161;
	color: #D56161;
	padding: 5px;
	height: 14px;
}
.feedback .row textarea.adress {
	height: 60px;
}
.feedback .row input.s_area {
	width: 100px;
}
.feedback .row input.numeric {
	width: 60px;
}
.formSubmit {
	padding-left: 148px;
}
#glossary {
	width: 400px;
	margin-bottom: 40px;
}
.glossary {
	padding-bottom: 30px;
}
.law {
	padding-bottom: 30px;
}
.glossary i {
	font-style: italic;
}
.highlight {
	background-color: #fff34d;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}
#divZ {
	display: none;
}
.highlight {
	padding:1px 4px;
	margin:0 -4px;
}




#footer {
	padding-top: 30px;
	padding-bottom: 30px;
}